/* --- FONTES DO DESIGN SYSTEM --- */
$font-family-display: 'Get Schwifty', sans-serif;
$font-family-game: 'Orbitron', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;

/* --- CORES DE MARCA RICK AND MORTY --- */
$portal-green: #00b5cc;
$neon-green: #97ce4c;
$space-black: #0b0c10;

/* --- CORES DE RARIDADE (NEON) --- */
$common-color: #9e9e9e;     /* Cinza/Branco */
$rare-color: #00b5cc;       /* Azul Portal */
$epic-color: #ff00b5;       /* Magenta Cósmico (Fúcsia Neon) */
$legendary-color: #ffd700;   /* Ouro Alienígena */

/* --- CORES DE RESULTADO --- */
$color-win: #00d2ff;        /* Azul Neon para Vitória */
$color-lose: #ff0055;       /* Vermelho para Derrota */
$color-draw: #ffd700;       /* Amarelo para Empate */
